@use "../../../../../theme/appTheme.scss";

.profileContainer {
  flex: 1;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .profileHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0;
    flex-shrink: 0;
    margin: 0 0.4rem;
    padding: 2rem 1rem;
    background-image: url("../../../../../../assets/images/login/loginV15.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

    .userName {
      font-size: 2rem;
      font-weight: 600;
      margin-left: 0.5rem;
    }
  }

  .profileBody {
    flex-grow: 1;
    min-height: 0;
    overflow: auto;
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;

    .scrollerContent {
      height: 100%;
      overflow: auto;
      border-radius: 16px;
      padding: 1rem;
      margin: 0.4rem;
      max-height: 100%;
      box-shadow: #0000002e 0px 2px 4px;
      border: 1px solid #a9a8a842 !important;
    }
  }
}

* {
  [data-theme="light"] {
  }
  [data-theme="dark"] {
    .editButton {
      color: appTheme.$light-600;
      background-color: appTheme.$mix-dark-100;
      &:hover {
        color: appTheme.$light-100 !important;
        background-color: appTheme.$mix-dark-100 !important;
      }
    }
  }
}
