/* font imports */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* .righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

hr {
  margin: 1.3rem 0;
}

.themeToggle {
  /* height: 1rem !important; */
  /* display: flex !important; */
  margin: 0;
  /* align-items: center !important; */
  /* justify-content: center !important; */
  width: auto !important;
}
