/**
 * light and dark theme config file
 */

/** PRIMARY COLORS */
$primary-100: #673ab7;
$primary-200: #7a4fbf;
$primary-300: #8c64c8;
$primary-400: #9d79d0;
$primary-500: #ae8fd8;
$primary-600: #bfa5e0;

/** light theme colors */
$light-100: #f9f9f9;
$light-200: #ededed;
$light-300: #e3e3e3;
$light-400: #cdcdcd;
$light-500: #b4b4b4;
$light-600: #9b9b9b;

//dark theme colors:
$dark-100: #090909;
$dark-200: #0e1012;
$dark-300: #2f2f2f;
$dark-400: #676767;
$dark-500: #9b9b9b;
$dark-600: #b4b4b4;

// primary - dark mixed theme colors:
$mix-dark-100: #30273c;
$mix-dark-200: #443b4f;
$mix-dark-300: #595163;
$mix-dark-400: #6f6878;
$mix-dark-500: #857f8d;
$mix-dark-600: #9d97a3;

//primary - light mixed theme colors
$mix-light-100: #d0bde6;
$mix-light-200: #d5c4e9;
$mix-light-300: #dbcbec;
$mix-light-400: #e0d3ee;
$mix-light-500: #e5daf1;
$mix-light-600: #eae1f4;

* {
  .primary {
    color: $primary-100 !important;
  }
  .primary-100 {
    color: $primary-100 !important;
  }
  .primary-200 {
    color: $primary-200 !important;
  }
  .primary-300 {
    color: $primary-300 !important;
  }
  .primary-400 {
    color: $primary-400 !important;
  }
  .primary-500 {
    color: $primary-500 !important;
  }
  .primary-600 {
    color: $primary-600 !important;
  }
  .light {
    color: $light-100 !important;
  }

  .light-100 {
    color: $light-100 !important;
  }

  .light-200 {
    color: $light-200 !important;
  }

  .light-300 {
    color: $light-300 !important;
  }

  .light-400 {
    color: $light-400 !important;
  }

  .light-500 {
    color: $light-500 !important;
  }

  .light-600 {
    color: $light-600 !important;
  }

  .dark {
    color: $dark-100 !important;
  }
  .dark-100 {
    color: $dark-100 !important;
  }
  .dark-200 {
    color: $dark-200 !important;
  }
  .dark-300 {
    color: $dark-300 !important;
  }
  .dark-400 {
    color: $dark-400 !important;
  }
  .dark-500 {
    color: $dark-500 !important;
  }
  .dark-600 {
    color: $dark-600 !important;
  }

  [data-theme="light"] {
    //----------- background-color styles -----------
    .bg-primary {
      background-color: $light-100 !important;
    }
    .bg-secondary {
      background-color: $light-300 !important;
    }
    .bg-accent {
      background-color: $primary-600 !important;
    }

    //----------- background-color styles -----------
    .primaryText {
      color: $dark-200 !important;
    }
    .secondaryText {
      color: $dark-300 !important;
    }
    .accentText {
      color: $primary-100 !important;
    }
  }

  [data-theme="dark"] {
    //----------- background-color styles -----------
    .bg-primary {
      background-color: $dark-100 !important;
    }
    .bg-secondary {
      background-color: $dark-300 !important;
    }
    .bg-accent {
      background-color: $primary-600 !important;
    }

    //----------- background-color styles -----------
    .primaryText {
      color: $light-200 !important;
    }
    .secondaryText {
      color: $light-300 !important;
    }
    .accentText {
      color: $primary-100 !important;
    }
  }
}
