@use "appTheme";

* {
  [data-theme="light"] {
    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 8px;
        text-align: left;
        margin: 0.4rem 0;
      }

      tr:nth-child(even) {
        background-color: appTheme.$light-100;
      }

      tr:nth-child(odd) {
        background-color: appTheme.$mix-light-600;
      }
    }

    /* Global Scrollbar Styling */
    * {
      scrollbar-width: thin; /* For Firefox */
      scrollbar-color: rgba(200, 200, 200, 0.4) transparent; /* Light, semi-transparent thumb for Firefox */
    }

    *::-webkit-scrollbar {
      width: 2px; /* Ultra-slim scrollbar width */
      height: 2px; /* Ultra-slim scrollbar height */
    }

    *::-webkit-scrollbar-track {
      background: transparent;
    }

    *::-webkit-scrollbar-thumb {
      background-color: #dcdcdc80;
      border-radius: 24px;
      border: none;
      background-clip: padding-box;
      transition: background-color 0.2s ease-in-out; 
    }

    *::-webkit-scrollbar-thumb:hover {
      background-color: #dcdcdcb3;
    }

    *::-webkit-scrollbar-corner {
      background: transparent;
    }
  }

  [data-theme="dark"] {
    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 8px;
        text-align: left;
        margin: 0.4rem 0;
      }

      tr:nth-child(even) {
        background-color: appTheme.$dark-200;
      }

      tr:nth-child(odd) {
        background-color: appTheme.$dark-300;
      }
    }

    /* Global Scrollbar Styling */
    * {
      scrollbar-width: thin; /* For Firefox */
      scrollbar-color: rgba(200, 200, 200, 0.4) transparent; /* Light, semi-transparent thumb for Firefox */
    }

    *::-webkit-scrollbar {
      width: 2px; /* Ultra-slim scrollbar width */
      height: 2px; /* Ultra-slim scrollbar height */
    }

    *::-webkit-scrollbar-track {
      background: transparent;
    }

    *::-webkit-scrollbar-thumb {
      background-color: #dcdcdc80;
      border-radius: 24px;
      border: none;
      background-clip: padding-box;
      transition: background-color 0.2s ease-in-out; 
    }

    *::-webkit-scrollbar-thumb:hover {
      background-color: #dcdcdcb3;
    }

    *::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}
